*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.back{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d7bf6;
}
.container{
    width: 80%;
    height: 80vh;
    display: flex; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .212);
}
.formImage{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
}
.img{
    width: 31rem;
}
.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}
.formHeader{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.loginButton{
    display: flex;
    align-items: center;
}

// https://www.youtube.com/watch?v=zWw0npNDkVM 11:32
