@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.back {
}

.ongBox {
  padding: 2rem 10%;
  background-color: rgb(206, 222, 253);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  &__title {
    font-family: "Nanum Pen Script";
    font-size: 50px;
    font-weight: 700;
  }
  &__subtitle {
    font-family: cursive;
  }
}
.searchBox {
  padding-top: 3rem;
  padding-left: 10%;
  padding-right: 10%;
}
.br {
  height: 3px;
  background: linear-gradient(to bottom, #b4b4b4, transparent);
}

.animais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4rem;
  gap: 20px;
}
