.back{
    height: 100%;
    width: 100%;
    background-color: white;
}
.bannerBox{
    width: 100%;
    max-height: 320px;

    &__img{
        width: 100%;
        max-height: 320px;
    }
}
.adoteContainer{
    background-color: rgb(248, 248, 248);
    height: 30vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    position: relative;
}
.adoteBox{
    background: none;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;

    &__title{
        font-size: 50px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        color: #505050;
    }
    &__subtitle{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #505050;
    }
}
.animais{
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.animaisContainer{
    background-color:#619eff;   
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    border-radius: 10px;
}
.animaisBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.animaisCard{
    width: 65%;
    border-radius: 10px;
    background: radial-gradient(circle at center, blue, green, yellow) border-box;
    border: solid 2px transparent;
    cursor: pointer;
}
@keyframes anima{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.animaisCard:hover{

    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.imgBox{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &__img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
}
.cardText{
    height: 10vh;
    border-top: solid 1px;
    background-color: rgb(231, 231, 231);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}





// cor letra #505050
// azul mais escuro #338BEF
// azul médio #00B0FC
// azul claro #47C1E6