.toolbar{
  background-color: #2D7BF6;
  width: 100%;
  min-height: 3vh;
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  max-width: 70px;
  max-height: 75px;
  width: 50%;
  min-height: auto;
  height: 100%;
  padding-left: 3vh;
}
.title{
  padding-right: 1rem;
}