.toolbar{
  background-color: #2d7bf6;
  display: flex;
  box-sizing: border-box;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.start{
  width: 50%;
}

.middle{
  width: 50%;
  font-family: 'Work Sans', sans-serif;
  align-self: center;
}

.end{
  width: 50%;
}

.logo{
width: 50%;
height: 100%;
max-width: 70px;
min-width: 50px;
}