.toolbar{
  background-color: #2d7bf6;
  display: flex;
  box-sizing: border-box;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}

.start{
  width: 50%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  align-items: center;

  &__logo{
    width: 50%;
    height: 90%;
    max-width: 70px;
    min-width: 70px;
  }
}

.middle{
  width: 50%;
  height: 100%;
  align-self: center;
  justify-content: center;
  display: flex;
  padding: 10px 0px;

}

.end{
  width: 50%;
  margin-right: 10%;
  align-self: center;
  justify-content: center;
  display: flex;
  height: 100%;
  padding: 10px 0px;


  &__searchBox{
    width: 21%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__searchButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 60%;
    gap: 6px;
    min-width: 35px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
  }
  &__searchIcon{
    background: none;
    color: white;
  }
  &__searchTitle{
    color: white;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
  }

}

@media (max-width: 500px){
  .end{
    &__searchTitle{
      display: none;
    }
  }
}