.toolbar{
  background-color: #2d7bf6;
  display: flex;
  box-sizing: border-box;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.start{
  width: 50%;
  margin-left: 10%;
}

.middle{
  width: 50%;
  align-self: center;
  justify-content: center;
  display: flex;

  &__text{
    color:#fbf1d3;
    font-weight: bold;
  
    }
}

.end{
  width: 50%;
  margin-right: 10%;
  align-self: center;
  justify-content: center;
  display: flex;
   padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.logo{
width: 50%;
height: 100%;
max-width: 70px;
min-width: 50px;
}

