.back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 10%;
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #2d7bf6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;

    &__title{
        color: white;
        font-family: 'Zeyada', cursive;
        font-weight: 600;
        font-size: 30px;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    }
}
.cardBox{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0rem;
    gap: 10rem;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width: 300px;
    background-color: #2d7bf6;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardImg{
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    &__img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}
.cardText{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.75rem 10px;
}
.cardStart{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;

    &__text{
        font-size: 23px;
        font-family: 'Zeyada', cursive;
        color: white;
        font-weight: 700;
    }
}
.cardEnd{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.icon{
    cursor: pointer;
}
.icon:hover{
    opacity: 0.7;
}
.icon svg{
    color: white;
}
.subscribeBox{
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: #2d7bf6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__text{
        font-family: 'Kalam', cursive;
        color: white;
    }
}
